@mixin for-size($size) {
  @if $size == phone-only {
    @media (max-width: 500px) { @content; }
  } @else if $size == tablet-portrait-up {
    @media (min-width: 501px) and (max-width: 900px) { @content; }
  } @else if $size == tablet-landscape-up {
    @media (min-width: 901px) and (max-width: 1200px) { @content; }
  } @else if $size == desktop-up {
    @media (min-width: 1201px) and (max-width: 1800) { @content; }
  } @else if $size == big-desktop-up {
    @media (min-width: 1801px) { @content; }
  }
}

.servicesContainer {
  width: 100%;
  height: 100%;
}

.titleStyle {
  height: 100%;
  background-color: #5F407A;
  text-align: center;
  margin: 0;
  text-shadow: -1px 0 #E7CCFF, 0 2px #E7CCFF, 2px 0 #E7CCFF, 0 -1px #E7CCFF;
}

.servicesGroupContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 4em 0 4em 0;

  @include for-size (phone-only) {
      flex-wrap: wrap;
  }

  @include for-size (tablet-portrait-up) {
    flex-wrap: wrap; 
  }

  @include for-size (tablet-landscape-up) {
    flex-wrap: wrap;   
  }
}

.servicesTitle {
  width: 100%;
  text-align: center;
  padding-top: 2em;
}

.soloServicesContainer {
  width: 20%;
  text-align: center;

  @include for-size (phone-only) {
      width: 40%;
  }

  @include for-size (tablet-portrait-up) {
    width: 40%;
  }

  @include for-size (tablet-landscape-up) {
    width: 40%;
  }

  .servicesImage {
      width: 100%;
      margin: 0;
  }

  .servicesTitle {
      margin: -0.25em 0 -1em 0;
  }
}


