@mixin for-size($size) {
    @if $size == phone-only {
      @media (max-width: 500px) { @content; }
    } @else if $size == tablet-portrait-up {
      @media (min-width: 501px) and (max-width: 900px) { @content; }
    } @else if $size == tablet-landscape-up {
      @media (min-width: 901px) and (max-width: 1200px) { @content; }
    } @else if $size == desktop-up {
      @media (min-width: 1201px) and (max-width: 1800) { @content; }
    } @else if $size == big-desktop-up {
      @media (min-width: 1801px) { @content; }
    }
}

.meetStaffContainer {
    width: 100%;
    text-align: center;
    padding-top: 3em;
}

.staffContainer {
    height: 250px;
    width: 90%;
    margin: 0 auto;
    padding: 1em;
    display: flex;
    justify-content: space-evenly;

    @include for-size (tablet-portrait-up) {
      height: 100%;
      margin: 2em;
    }

    @include for-size (tablet-landscape-up) {
      height: 100%;
      margin: 2em;   
    }

    .desktopOnly {
      @include for-size (phone-only) {
        display: none;
      }
    }

    .imgStyle {
        height: 100%;

        @include for-size (phone-only) {
          height: 70%;
          margin: auto auto;
        }

        @include for-size (tablet-portrait-up) {
          height: auto;
          width: 50%;
          margin: auto auto;
        }

        @include for-size (tablet-landscape-up) {
          height: auto;
          width: 45%;
        }
    }

    .infoContainerLeft {
        width: 60%;
        text-align: right;
        padding-right: 2em;

        @include for-size (phone-only) {
          padding-right: 0.5em;
          margin: auto auto;
        }

        @include for-size (tablet-landscape-up) {
          height: 100%;
        }

        .tabletPortraitTitle {
          @include for-size (tablet-portrait-up) {
            margin: 0;
          }
        }

        .strongStyle {
            font-size: 1.2em;
        }
    }

    .infoContainerRight {
        width: 60%;
        text-align: left;
        padding-left: 2em;

        @include for-size (phone-only) {
          padding-left: 0.5em;
          margin: auto auto;
        }

        @include for-size (tablet-landscape-up) {
          height: 100%;
        }

        .tabletPortraitTitle {
          @include for-size (tablet-portrait-up) {
            margin: 0;
          }
        }

        .strongStyle {
            font-size: 1.2em;
        }
    }
}