.contactContainer {
    width: 100%;
    text-align: center;
    padding: 3em 0;
}

.ContactInfo {
    width: 100%;
}

.iconStyle {
    width: 75px;
    height: 75px;
}

.numberStyle {
    text-decoration: none;
}